@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
    --color-primary: #1DAA61;
    --color-primary-content: #000000bf;
    --color-secondary: #E1E1E4;
    --color-secondary-content: #FFFFFF;
    --color-accent: #E5E7EB;
    --color-accent-content: #E5E7EB;
    --color-neutral: #F3F4F6;
    --color-neutral-content: #FFFFFF;
    --color-base-100: #F7F5F3;
    --color-base-200: #FFFFFF;
    --color-base-300: #F2EFED;
    --color-base-content: #2F2B3DE6;
    --color-info: #139451;
    --color-info-content: #FFFFFF;
    --color-success: #4CAF50;
    --color-success-content: #FFFFFF;
    --color-warning: #FBBD23;
    --color-warning-content: #FFFFFF;
    --color-error: #fb2c36e8;
    --color-error-content: #FFFFFF;
}

@theme {
    --color-primary: var(--color-primary);
    --color-primary-light: #CBF2DC;
    --color-primary-hover: #137241;
    --color-primary-content: var(--color-primary-content);

    --color-secondary: var(--color-secondary);
    --color-secondary-light: ;
    --color-secondary-hover: ;
    --color-secondary-content: var(--color-secondary-content);

    --color-accent: var(--color-accent);
    --color-accent-light: ;
    --color-accent-hover: ;
    --color-accent-content: var(--color-accent-content);

    --color-neutral: var(--color-neutral);
    --color-neutral-light: ;
    --color-neutral-hover: ;
    --color-neutral-content: var(--color-neutral-content);

    --color-base-content: var(--color-base-content);
    --color-info: var(--color-info);
    --color-info-light: ;
    --color-info-hover: ;
    --color-info-content: var(--color-info-content);

    --color-success: var(--color-success);
    --color-success-light: ;
    --color-success-hover: ;
    --color-success-content: var(--color-success-content);

    --color-warning: var(--color-warning);
    --color-warning-light: ;
    --color-warning-hover: ;
    --color-warning-content: var(--color-warning-content);

    --color-error: var(--color-error);
    --color-error-light: #FFE2E3;
    --color-error-hover: ;
    --color-error-content: var(--color-error-content);

    --color-dark: #2A2E42 var(--color-dark);
    --color-dark-light: #DEDEE2;
    --color-dark-hover: #DEDEE2;
    --color-dark-content: #FFFFFF var(--color-dark-content);
}

.dark {
    --color-primary: #1DAA61;
    --color-primary-light: #CBF2DC;
    --color-primary-hover: #137241;
    --color-primary-content: #ffffff;

    --color-secondary: #393C64;
    --color-secondary-content: #ffffff;

    --color-accent: #9CA3AF;
    --color-accent-content: #111827;

    --color-neutral: #737789;
    --color-neutral-content: #FFFFFF;

    --color-base-100: #242424;
    --color-base-200: #1C1C21;
    --color-base-300: #1E2235;
    --color-base-content: #E5E7EB;

    --color-info: #3ABFF8;
    --color-info-content: #000000;

    --color-success: #36D399;
    --color-success-content: #000000;

    --color-warning: #FBBF24;
    --color-warning-content: #000000;

    --color-error: #F87272;
    --color-error-light: #3B1E1E;
    --color-error-content: #000000;
}

.date-wrapper {
    position: relative;
    display: inline-block;
}

.custom-date {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #137241;
    /* red-500 */
    color: white;
    border: none;
    padding: 10px 40px 10px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* Hide default calendar icon in Chrome */
.custom-date::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

/* Add your own icon */
.date-wrapper::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url('your-custom-icon.svg');
    /* or base64-encoded SVG */
    background-size: cover;
    pointer-events: none;
}


* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #FFFFFF;
}

/* theme */
.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.nav-icon {
    font-size: 20px;
    color: var(--color-primary);
}


/* btn class  */
.btn {
    background-color: var(--color-primary);
    color: white;
    border: none;
}

.btn:hover {
    background-color: var(--color-success);
    color: white;
}

/* text-indigo-500 hover:underline */
.linkClass {
    color: #5b5bfd;
    font-weight: 700;
}

.linkClass:hover {
    text-decoration: underline;
}

/* label css  */
.labelClass {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: var(--color-primary-content);
}

/* input class  */
.inputClass {
    width: 100%;
    margin-top: 8px;
    height: 40px;
    background-color: var(--color-base-200);
    border: 1px solid var(--color-primary);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: var(--color-primary-content);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputClass:hover {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
}

.inputClass:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
}

/* dark input class  */
/* .dark .inputClass {
    background-color: #1E2132;
    border: 1px solid #4B5563;
    color: var(--color-primary-content);
} */

/* absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 dark:text-color_dark_grayish_blue */
/* password icon  */
.passwordIcon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-primary-content);
}


.passwordIcon:hover {
    color: var(--color-success);
}

/* text-2xl text-primary-content dark:text-primary-content_dark font-bold mb-2 */
.auth_headertext {
    color: var(--color-primary-content);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.dot-pattern {
    background-image: radial-gradient(#34D399 1px, transparent 1px);
    background-size: 20px 20px;
}


.slide-in {
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.slide-out {
    animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Chrome, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

/* Firefox */
input[type="date"] {
  appearance: none;
}
